<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.dongc.prompts</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>08BCA8E1-316B-4ED9-83AD-147ABF97C73D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A898C00-5F6B-4E10-9360-9A8846EDC47A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0B28B413-6E26-4C7E-9549-3954AD4B3064</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DA10E73-EC9A-4C7D-8D97-FCF742568D7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0B51D0E8-A80F-47B8-A725-2257340DCECE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21870A00-677B-4C64-BE08-6494B73328E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DA10E73-EC9A-4C7D-8D97-FCF742568D7E</key>
		<array/>
		<key>1CA8B70C-938D-4337-A09E-E80B0586A13F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EBCC5D8-0BD5-420C-AA5D-8616BB5C86D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>212DFB63-09BC-40C6-87DC-6D3CC47F416F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B51D0E8-A80F-47B8-A725-2257340DCECE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>21870A00-677B-4C64-BE08-6494B73328E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8F54860-E3C0-489F-8076-1ABF1DE46B20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>75EAA072-A126-47BA-846D-E2586CCB82AD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2DF850B9-C58E-4082-8071-79B279F355F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFDC3D61-D973-446A-98FC-1F997D07445A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2FA20909-075F-444E-883F-77DD5CC504F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DF850B9-C58E-4082-8071-79B279F355F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30D57E27-5AB5-4702-B866-6523475FBC5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB18ACAE-FC93-4318-8577-04197C951F21</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3EBCC5D8-0BD5-420C-AA5D-8616BB5C86D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B6A6253-FB2A-46F9-ADA3-FB0882E3C727</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E676E5D-2008-4A5D-95AD-FD3AD3E03F69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7256605E-413F-4C8D-A749-BEFF86D4FA07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64BA2E53-0941-4FD5-91D4-1C766CB9D977</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>212DFB63-09BC-40C6-87DC-6D3CC47F416F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A898C00-5F6B-4E10-9360-9A8846EDC47A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BAFA823D-FFD6-4E3F-B076-B50135438BE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7256605E-413F-4C8D-A749-BEFF86D4FA07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7289A63C-3278-4C76-A5F3-5FB9A27B2941</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B6A6253-FB2A-46F9-ADA3-FB0882E3C727</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBFDEF8F-ED9A-488B-B31F-D6042A8873A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86A71D4C-DC9F-424C-92C4-E655EADAD19B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08BCA8E1-316B-4ED9-83AD-147ABF97C73D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93CAF870-B3FE-4AF4-B8D8-B271D043B99B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7256605E-413F-4C8D-A749-BEFF86D4FA07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A91CBB3C-FC06-4C81-98DA-E6DC7FF81542</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B51D0E8-A80F-47B8-A725-2257340DCECE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BAFA823D-FFD6-4E3F-B076-B50135438BE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B28B413-6E26-4C7E-9549-3954AD4B3064</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB18ACAE-FC93-4318-8577-04197C951F21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08BCA8E1-316B-4ED9-83AD-147ABF97C73D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBFDEF8F-ED9A-488B-B31F-D6042A8873A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B05EE8CB-5B2B-42B7-9E52-385291917A50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2306CC66-C910-4982-9372-7EB686CB6092</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC4B6F12-3BD5-4D40-ADDF-D784EC1D764C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DF850B9-C58E-4082-8071-79B279F355F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DFDC3D61-D973-446A-98FC-1F997D07445A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CA8B70C-938D-4337-A09E-E80B0586A13F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5219BDB0-A668-44F2-86BF-B44B7699EC3C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BBFDEF8F-ED9A-488B-B31F-D6042A8873A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>75EAA072-A126-47BA-846D-E2586CCB82AD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E26A1320-C230-465B-988A-45789EFCD79B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC4B6F12-3BD5-4D40-ADDF-D784EC1D764C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6F0A277-30A9-40C4-820B-0A833A2BAE71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93CAF870-B3FE-4AF4-B8D8-B271D043B99B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>dongc</string>
	<key>description</key>
	<string>Add, Download and Copy Prompts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Prompt Manager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The latest awesome prompts are available.</string>
				<key>title</key>
				<string>Download Completes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7289A63C-3278-4C76-A5F3-5FB9A27B2941</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./prompt-manager download</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7256605E-413F-4C8D-A749-BEFF86D4FA07</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>prompts</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Download Awesome Prompts</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>93CAF870-B3FE-4AF4-B8D8-B271D043B99B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>download</string>
				<key>triggername</key>
				<string>Download</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>F6F0A277-30A9-40C4-820B-0A833A2BAE71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo $template | sed "s/\[[^]]*\]/$1/g"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7B6A6253-FB2A-46F9-ADA3-FB0882E3C727</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Input topic for the prompt</string>
				<key>text</key>
				<string>Topic</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3EBCC5D8-0BD5-420C-AA5D-8616BB5C86D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>download</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Download  Awesome Prompts</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5E676E5D-2008-4A5D-95AD-FD3AD3E03F69</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>template</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1CA8B70C-938D-4337-A09E-E80B0586A13F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>B05EE8CB-5B2B-42B7-9E52-385291917A50</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>Copy</string>
				<key>triggername</key>
				<string>Copy</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>E26A1320-C230-465B-988A-45789EFCD79B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\[[^\]]*\]</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>5219BDB0-A668-44F2-86BF-B44B7699EC3C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>75EAA072-A126-47BA-846D-E2586CCB82AD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DFDC3D61-D973-446A-98FC-1F997D07445A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>prompts</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Copy Prompts</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DC4B6F12-3BD5-4D40-ADDF-D784EC1D764C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Filtering</string>
				<key>script</key>
				<string>./prompt-manager query --action copy --all "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Searching for a prompt</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2DF850B9-C58E-4082-8071-79B279F355F0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BBFDEF8F-ED9A-488B-B31F-D6042A8873A2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>copy</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Copy A Prompt</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2FA20909-075F-444E-883F-77DD5CC504F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Pop</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>2306CC66-C910-4982-9372-7EB686CB6092</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter the content</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BAFA823D-FFD6-4E3F-B076-B50135438BE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter the prompt name</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>08BCA8E1-316B-4ED9-83AD-147ABF97C73D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>prompts</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add A New Prompt</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BB18ACAE-FC93-4318-8577-04197C951F21</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>Add</string>
				<key>triggername</key>
				<string>Add</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>30D57E27-5AB5-4702-B866-6523475FBC5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>content</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0B28B413-6E26-4C7E-9549-3954AD4B3064</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6A898C00-5F6B-4E10-9360-9A8846EDC47A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>Add</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add A New Prompt</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>86A71D4C-DC9F-424C-92C4-E655EADAD19B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./prompt-manager add "$name" "$content"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0DA10E73-EC9A-4C7D-8D97-FCF742568D7E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>prompt</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Delete A Custom Prompt</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>212DFB63-09BC-40C6-87DC-6D3CC47F416F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>Delete</string>
				<key>triggername</key>
				<string>Delete</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>64BA2E53-0941-4FD5-91D4-1C766CB9D977</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Filtering</string>
				<key>script</key>
				<string>./prompt-manager query --action delete "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search for a prompt</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0B51D0E8-A80F-47B8-A725-2257340DCECE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./prompt-manager delete "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B8F54860-E3C0-489F-8076-1ABF1DE46B20</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>delete</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>75EAA072-A126-47BA-846D-E2586CCB82AD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>21870A00-677B-4C64-BE08-6494B73328E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>delete</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Delete A Custom Prompt</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A91CBB3C-FC06-4C81-98DA-E6DC7FF81542</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>08BCA8E1-316B-4ED9-83AD-147ABF97C73D</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>0B28B413-6E26-4C7E-9549-3954AD4B3064</key>
		<dict>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>485</real>
		</dict>
		<key>0B51D0E8-A80F-47B8-A725-2257340DCECE</key>
		<dict>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
		<key>0DA10E73-EC9A-4C7D-8D97-FCF742568D7E</key>
		<dict>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>1CA8B70C-938D-4337-A09E-E80B0586A13F</key>
		<dict>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>212DFB63-09BC-40C6-87DC-6D3CC47F416F</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
		<key>21870A00-677B-4C64-BE08-6494B73328E1</key>
		<dict>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>760</real>
		</dict>
		<key>2306CC66-C910-4982-9372-7EB686CB6092</key>
		<dict>
			<key>xpos</key>
			<real>1050</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>2DF850B9-C58E-4082-8071-79B279F355F0</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>2FA20909-075F-444E-883F-77DD5CC504F5</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>30D57E27-5AB5-4702-B866-6523475FBC5C</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>3EBCC5D8-0BD5-420C-AA5D-8616BB5C86D0</key>
		<dict>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>5E676E5D-2008-4A5D-95AD-FD3AD3E03F69</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>64BA2E53-0941-4FD5-91D4-1C766CB9D977</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
		<key>6A898C00-5F6B-4E10-9360-9A8846EDC47A</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>7256605E-413F-4C8D-A749-BEFF86D4FA07</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>7289A63C-3278-4C76-A5F3-5FB9A27B2941</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>7B6A6253-FB2A-46F9-ADA3-FB0882E3C727</key>
		<dict>
			<key>xpos</key>
			<real>985</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>86A71D4C-DC9F-424C-92C4-E655EADAD19B</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>93CAF870-B3FE-4AF4-B8D8-B271D043B99B</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>A91CBB3C-FC06-4C81-98DA-E6DC7FF81542</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>B05EE8CB-5B2B-42B7-9E52-385291917A50</key>
		<dict>
			<key>xpos</key>
			<real>1170</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>B8F54860-E3C0-489F-8076-1ABF1DE46B20</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>745</real>
		</dict>
		<key>BAFA823D-FFD6-4E3F-B076-B50135438BE9</key>
		<dict>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>BB18ACAE-FC93-4318-8577-04197C951F21</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>BBFDEF8F-ED9A-488B-B31F-D6042A8873A2</key>
		<dict>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>DC4B6F12-3BD5-4D40-ADDF-D784EC1D764C</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>DFDC3D61-D973-446A-98FC-1F997D07445A</key>
		<dict>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>E26A1320-C230-465B-988A-45789EFCD79B</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>F6F0A277-30A9-40C4-820B-0A833A2BAE71</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>v1.0.8</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
